
@{
    ViewBag.Title = "Completed";
}

<div class="container text-center">
    <h1>Your order is Complete</h1>
    <div class="col-md-3"> <a href="/" class="btn btn-outline-primary mx-1">Let's Continue Shopping</a> </div>
</div>


